*,
html,
body {
    margin: 0;
    padding: 0;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #333;
}

.dark {
    background-color: #333;
    color: #fcfcfc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


nav {
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
}

/* .darkNav {
    background-color: #fcfcfc;
    color: #333;
} */

nav a {
    background-color: #333;
    color: #fcfcfc;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background-color: rgb(11, 77, 77);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.info {
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 10%;
    font-size: 14px;
    font-weight:700;
    animation: jedagJedug 2s infinite;
}

@keyframes jedagJedug {
    0% {
        font-size: 14px;
    } 50% {
        font-size: 14.5px;
    } 100% {
        font-size: 14px;
    }
}